# NetHack 4: AIMake configuration.
{
    # This is a game, so request the games install with a medium weight;
    # this causes it to override /usr/bin to /usr/games, but not override
    # /home/daniel to /usr/games.
    installtype => [
        { value => 'games', score => 5, group => 'installtypes' },
    ],
    options => {
        'packagename' => 'nethack4',
        'IFLAGS' => [
            '-DNETCLIENT',
            { group => 'OS', prereqs => ['buildos:MSWin32'], value => '-DWIN32' },
            { group => 'OS', prereqs => ['!buildos:MSWin32'], value => '-DUNIX' },
        ],
        'CFLAGS' => [
            '-Wall',
            # TODO: filter by compiler (setting prereqs doesn't work...)
            '-Wextra',
            '-Wno-missing-field-initializers',
            # These warnings are probably worth fixing eventually, but have too
            # many false positives to be able to show them right now
            '-Wno-unused-parameter',
            '-Wno-unused-result',
            '-Wno-sign-compare',
            '-Wold-style-definition',
            '-Wstrict-prototypes',
            '-Wmissing-prototypes',
            '-Wmissing-declarations',
            '-Wpointer-arith',
        ],
        # Set to change the user allowed to use wizard mode
        'WIZARD' => 'wizard',
    },
    includes => [
        'libpq-fe.h',
        'jansson.h',
    ],
    libraries => [
        'jansson',
        'pq',
        'z',
    ],
    directories => {
        'libnethack/util' => 'standalone',
    },
    filetypes => {
        '.des' => {
            use_deps => 'bpath:libnethack/util/lev_main',
            provices => [
                {
                    determine_command => 'cat $pathname',
                    determine_parse => qr'^(?:MAZE|LEVEL)\s*:\s*"([^"]++)"',
                    value => 'bpath:libnethack/dat/$1.lev',
                    command => 'libnethack/util/lev_main -o libnethack/dat/ $pathname',
                    extra_build_deps => 'bpath:libnethack/util/lev_main',
                    defaultly_targets => 1,
                },
            ],
        },
        # Ignore the normal install rule for executables.
        '.o' => { provices => [ { value => undef, score => 100,
                                  group => 'default_install_targets' } ] },
    },
}
